/* resetcss불러오기 */
@import "reset.css";

body{
    display :flex; 
    gap :20px; 
    justify-content:space-between;
    align-items : flex-start;
    background-color: gainsboro;
    padding:20px 20px;
}


/* 캔버스와 웹페이지 크기 설정 */
canvas {
    width:800px;
    height:800px;
    background-color: white;
}

body {
    display:flex; 
    justify-content:center;
    align-items :center;
}

/* 3) color option판 사이즈 조절 */
.color-options {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;

}

.color-option{
    width:50px;
    height:50px;
    cursor: pointer;
    border-radius: 50%;
    border:5px solid white; 
    transition:transform ease-in-out 1s;
}

.color-option:hover{
    transform :scale(1.2);
}

.btns{
    display:flex; 
    flex-direction: column;

    cursor:pointer;
}

input #color{
    background-color: white ;
}

label {
    all:unset;
        /* 버튼의 모든 속성 해제 */
    padding:10px 0px;
    text-align: center;
    background-color:royalblue;
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .1s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

button:hover {
    opacity: 0.85;
}

input#file {
    display: none;
}

input#text {
    all:unset;
    padding:10px 0px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    background-color:white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}